.inputForm {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
    padding: 5px;

}

.submitButton {
    padding: 5px 15px;
    background: #0066A2;
	color: white;
	border-style: outset;
	border-color: #0066A2;
	text-shadow: none;
}

input, textarea {
    border: none;
    padding: 2px;
}
