input {
    margin: 0.4rem;
}

fieldset {
    legend {
        font-weight: bold;
    }
}

.wallpaperoption {
    width: 30%;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px;
}

.active {
    border: 3px solid #4b89ff;
}
