.screen {
    position: absolute;
    overflow: auto;
    padding: 5px;
}

.header {
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    // padding: 0px 10px;

    img, object {
        height: 20px;
        width: 20px;
        cursor: pointer;
    }
}
