.background {
    background-color: var(--default_background);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.spinner {
    border: 5px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
