header {
    display: flex;
    flex-direction: row;
    background-color: #72d0ff9f;
    justify-content: center;
    width: fit-content;
    padding: 0vh 5vh;
    border-radius: 20px;
    position: fixed;
    bottom: 0;
    left: 40vw;
}
