header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;
    z-index: 5;
}

div, span {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
