div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 50vw;
    max-width: 80vw;
    overflow-x: auto;
    height: 85px;
    padding: 5px;
    border-radius: 20px;
    position: fixed;
    z-index: 5;
}
