div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 50vw;
    max-width: 75vw;
    overflow-x: scroll;
    height: fit-content;
    padding: 5px;
    border-radius: 20px;
    position: fixed;
    z-index: 5;
}

@media (max-width: 700px) {
    div {
        height: calc(100vh - 40px);
        overflow-x: hidden;
        overflow-y: scroll;
        flex-direction: column;
        min-width: unset;
        max-width: unset;
        justify-content: flex-end;
        align-items: center;
        border-radius: 0px;
    }
}
