.logo {
    width: 25px;
}

.inlineimg {
    height: 25px;
}

.article {
    text-align: justify;
}

.content {
    user-select: text;
    padding: 5px;
}

.bigpicture {
    max-width: 100%;
    max-height: 40vh;
}
