.window {
    z-index: 3;
    border: 3px solid #E1DFE1;
    border-radius: 5px;
    position: absolute;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #E1DFE1;
        height: 36px;
        padding: 0px 3px;
        cursor: move;

        .title {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .button {
            border-radius: 50%;
            width: 15px;
            height: 15px;
            border: none;
            margin: 3px;
            padding: 2px 5px;
            z-index: 4;
            cursor: pointer;
            // font-size: 10px;
        }
        .button:active {
            filter: grayscale(0.2);
        }

    }
    
    .body {
        background-color: white;
        height: fit-content;
        overflow: scroll;
    }
}

.minimize {
    background-color: #FFBD44;
}

.resize {
    background-color: #00CA4E;
}

.close {
    background-color: #FF605C;
}
