.chip {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: #303f9f;
    border-radius: 16px;
    padding: 8px;
    font-size: 14px;
    line-height: 1.2;
    transition: linear 0.1s;
    color: white;
}

.chip:hover {
    background-color: #3f51b5;
}
