/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@font-face {
  font-family: 'ubuntu';
  src: url(/fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: 'raleway';
  src: url(/fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: 'inconsolata';
  src: url(/fonts/Inconsolata-VariableFont.ttf);
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.mainframe {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}
